---
layout: single
classes: wide
---

{{ content }}

<div class="page__content">
  <p>Hi, there!</p>

  <p>I am a master's student interested in the evolution of insects (specifically Lepidoptera—butterflies and moths) based on the taxonomic perspective. I am learning and trying to research them using various methods (e.g., molecular analyses, morphology, etc.). I would like to study with scientists who are interested in insects or biology. Please do not hesitate to contact me for any reason!</p>

  <h2>My present works</h2>
  <ul>
    <li><strong>Phylogenomics of Erebidae</strong></li>
    <li>Taxonomy of the subfamily Erebinae (Lepidoptera: Erebidae) in the Korean Peninsula</li>
  </ul>

  <h2>My interests</h2>
  <ul>
    <li>Many intriguing taxa and their evolutionary history</li>
    <li>Integrative phylogenetics with fossil data, ecological data, and of course also various types of molecular data and methods</li> 
    <li>Combining other biological fields' methods with phylogeny and taxonomy to resolve our curiosities</li>
  </ul>
</div>