---
layout: single
classes: wide
---

{{ content }}

<div class="page__content">
  <p>Hello, Everybody!</p>

  <p>I am a master's student interested in remarkably high diversity and capacity of insects (currently Lepidoptera—butterflies and moths). I am learning and trying to research them using various methods (e.g., molecular analyses, morphology, etc.). As not only a student but also a scientist, I would like to find missing parts of current knowledge within insect science and collaborate with scientists who have similar curiosity to decipher such questions.</p>

  <h2>My present works</h2>
  <ul>
    <li><strong>Phylogenomics of the Erebidae</strong></li>
    <li>Taxonomic review of the subfamily Erebinae (Lepidoptera: Erebidae) in the Korean Peninsula</li>
  </ul>

  <h2>My interests</h2>
  <ul>
    <li>Rapidly diverged lineages within Lepidoptera and their evolutionary history</li>
    <li>Coevolution between lepidopterans and their surroundings</li>
    <li>Integrative taxonomy with fossil data, ecological data, and molecular data</li> 
    <li>Phylogeography</li>
  </ul>
</div>