---
layout: single
classes: wide
---

{{ content }}

<div class="page__content">
  <p>Hello, Everybody!</p>

  <p>I am a master's student interested in the astonishing diversity and the ecological range of insects (currently Lepidoptera-butterflies and moths). I am going to learn and study the phenomenon using various data (e.g., molecular data, ecological traits, morphology, etc.) and manifold biological perspectives (e.g., phylogeny, biogeography, gene expression, evo-devo, etc.). As not only a student but also a scientist, I would like to detect some gaps of current findings within insect-evolution world and collaborate with many researchers to decipher those!</p>

  <h2>My present works are</h2>
  <ul>
    <li><strong>Evolution of the erebid moths</strong></li>
    <li>Systematic taxonomy of the subfamily Erebinae in the Korean Peninsula</li>
  </ul>

  <h2>My interests incorporate</h2>
  <ul>
    <li>Disclosing the secrets of way high biodiversity within lepidopteran insects</li>
    <li>Coevolution between lepidopterans and their primary food source - plants, especially angiosperms</li>
    <li>Revealing evolutionary trajectories of living things through integrative approach with fossil data, ecological data, and gene family data that might be detected from molecular data</li> 
    <li>Biogeography</li>
    <li>Population genetics and species delimitation for various purpose (e.g., to find over- or underestimation of the certain taxa)</li>
  </ul>
</div>